# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.sublime-workspace

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Test
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Prisma dev database
prisma/dev.db
prisma/dev.db-journal
pgdata

# Misc
*.md
!README.md
.tmp
.temp
